.layout-header {
  display: flex;
  overflow: hidden;

  .layout-header-left {
    flex: 1;
    text-align: left;
  }

  .layout-header-action {
    display: flex;
    .layout-header-action-item {
      display: flex;
      height: 100%;
      padding: 0 2px;
      font-size: 1.2em;
      cursor: pointer;
      align-items: center;
    }
    .layout-header-action-item + .layout-header-action-item {
      margin-left: 3px;
    }
  }
}